*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table,tr,td,th{
    border: solid 1px black;
    padding: 2px;
}

#btnsave{
    width: 100%;
    background-color: aqua;
    color: black;
    border: solid 1px black;
    padding: 5px 0px;
}
#btnsave:hover{
    background-color:black;
    color: white;
}
input{
    padding: 5px;
}
select{
    width: 100%;
}
.tabletwo{
    margin-top: 40px;
}
.tableone{
    margin-top: 20px;
}
td{
    padding:3px;
}
th{
    padding: 5px ;
}
.del{
    background-color: red;
    color: white;
    padding: 5px;
}